#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name = Bibtex Converter
Exec = /home/vszabo/PycharmProjects/bibtex-to-xls/bib
Version = 1.0
Icon = /home/vszabo/PycharmProjects/bibtex-to-xls/book.png
Path = /home/vszabo/PycharmProjects/bibtex-to-xls/
Type = Application
NoDisplay = false
Categories = Utility;Application;
